<main id="main" style="background-color: #d3e9f5;">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Me</h2>
        </div>
      </div>
    </section><!-- End About Us Section -->
    <section class="about" data-aos="fade-up">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-6">
              <img src="assets/img/rohaan.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <h5>Hi Everyone.</h5>
              <h5>Myself Rohaan.</h5>
              <p>I am currently working in TruU Identity Tech Pvt.Ltd, Bengaluru in the role of Member Technical Staff. I completed my Bachelor's Degree from Ramaiah Institue of Technology in the year 2021. I have grown fond of the coding language Python during my time in Ramaiah and learnt the language from various sources and am able to develop some good programs using this langauge. You can go through some of the projects that I have worked on in the My Works section of the website.</p>
              <button class="btn btn-light mb-3"><a href="/work1">My Works</a></button>
              <p>I have completed a Python certification from Udemy. I have selected the Complete Python Developer: Zero to Mastery 2023. In this course I learnt some of the advanced topics of Python, some of the web development applications such as html, css and flask. I have created this website using the knowledge gained from the course. I am also planning on expanding my knowledge in web development courses such as html, css and java script in detail to boost my resume.
                To cantact me click on the Contact button available below.
                </p>
                <button class="btn btn-light"><a href="/contact">Contact Me</a></button>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
      <br><br><br><br><br>
      </main>
