<main id="main" style="background-color: #d3e9f5;">
    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Flask Website</h2>

            <ol>
              <li><a href="/work1">001</a></li>
              <li><a href="/work2">002</a></li>
              <li><a href="/work3">003</a></li>
              <li><a href="/work4">004</a></li>
              <li>005</li>
            </ol>
          </div>
        </div>
    </section><!-- End Blog Section -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-12 entries">
  
              <article class="entry">
  
                <div class="entry-img">
                  <img src="assets/img/website.png" alt="" class="img-fluid">
                </div>
                <h4 class="entry-title">
                    <p>This is a website I designed.</p>
                    <p>In this website, I used Flask as a backend tool.</p>
                    <p>For the frontend, I downloaded a template online and changed the HTML, CSS and Java Script according to my needs.</p>
                    <p>I used a website called Pythonanywhere to deploy this website globally.</p>
                    <p>Click the below button to check out my other website.</p>
                    <button href="http://rvrohaan.pythonanywhere.com/index.html" class="btn btn-primary">Click Me</button>

                </h4>
            </article>
            </div>
        </div>
        </div>
    </section>
</main>