<main id="main" style="background-color: #d3e9f5;">
    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Image Processing</h2>

            <ol>
              <li><a href="/work1">001</a></li>
              <li><a href="/work2">002</a></li>
              <li>003</li>
              <li><a href="/work4">004</a></li>
              <li><a href="/work5">005</a></li>
            </ol>
          </div>
        </div>
    </section><!-- End Blog Section -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-12 entries">
  
              <article class="entry">
  
                <div class="entry-img">
                  <img src="assets/img/image.jpg" alt="" class="img-fluid">
                </div>
                <h4 class="entry-title">
                    <p>This is a Pyhton program crated to edit and process images more to our needs.</p>

                        <p>In this Python program where we can select an image and process it in many ways according to our needs. There are various options available in this program such as:</p>
                        <ol>
                            <li>Reducing the file size of the image.</li>
                            <li>Converting a Color image into a Black and White image.</li>
                            <li>Croping the image to a particular size.</li>
                        </ol>
                        <p>and so on...</p>
                  </h4>
            </article>
            </div>
            </div>
            </div>
            </section>
</main>