<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Hello</h2>
          <p class="animate__animated animate__fadeInUp">I am R V Rohaan,</p>
          <p class="animate__animated animate__fadeInUp">Python Beginner.</p>
          <p class="animate__animated animate__fadeInUp">Currently working as Member Techinal Staff at TruU Identity Tech Pvt.Ltd Bengaluru.</p>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">My Works</h2>
          <p class="animate__animated animate__fadeInUp">I have done some intresting projects using the coding language <strong>Python.</strong></p>
          <p class="animate__animated animate__fadeInUp">To learn more about my works click on the Learn More button below.</p>
          <a href="/work1" class="btn-get-started animate__animated animate__fadeInUp">Learn More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">About Me</h2>
          <p class="animate__animated animate__fadeInUp">I am currently working in TruU Identity Tech Pvt.Ltd Bengaluru in the role of Member Technical Staff.
            I completed my Bachelor's Degree from Ramaiah Institue of Technology in the year 2021.</p>
            <p class="animate__animated animate__fadeInUp">To get to know more about me click on the Learn more button below.</p>
          <a href="/about" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <!-- Slide 4 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Contact Me</h2>
          <p class="animate__animated animate__fadeInUp">Please click the below button to get in touch with me or to leave a feedback.</p>
          <a href="/contact" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->
  <br><br><br><br><br>