<main id="main" style="background-color: #d3e9f5;">
    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>PDF Processing</h2>

            <ol>
              <li><a href="/work1">001</a></li>
              <li><a href="/work2">002</a></li>
              <li><a href="/work3">003</a></li>
              <li>004</li>
              <li><a href="/work5">005</a></li>
            </ol>
          </div>
        </div>
    </section><!-- End Blog Section -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-12 entries">
  
              <article class="entry">
  
                <div class="entry-img">
                  <img src="assets/img/pdf.jpg" alt="" class="img-fluid">
                </div>
                <h4 class="entry-title">
                    <p>This is a Pyhton program crated to edit and process PDF Files.</p>

                        <p>In this Python program we can select a PDF File and perform various operation with it such as:</p>
                        <ol>
                            <li>Rotating the PDF file to a particular angle.</li>
                            <li>Merging two PDF files together.</li>
                            <li>Adding watermarks to an existing PDF file.</li>
                        </ol>
                        <p>and so on...</p>
                  </h4>
            </article>
            </div>
            </div>
            </div>
            </section>
</main>