<main id="main"  style="background-color: #d3e9f5;">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Thank You</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->
    <div class="container mt-md-5">
    <h4>The message has been received. Thank you.</h4><br><br><br><br><br>
    </div>
    </main>
